.items{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    width: 100%;
}

.item-block {
    width: 17%;
    text-align: right;
    padding: 0.5rem;
 }

 .item-block:first-of-type{
     width: 20%;
     text-align: left;
 }

 .item-block:last-of-type{
    width: 10%;
    text-align: center;
    padding: 0.25rem;
   
}

@media only screen and (max-width: 1100px){
    .timeline-block-item{
      display: none;
    }
    
  }

  @media only screen and (max-width: 900px){
    .items{
        width: 90vw;
    }
  }

  @media only screen and (max-width: 600px){
    .items{
        font-size: 70%;
    }
  }