.card-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    margin: 2px;
}

.card-container p{
    font-size: 2em;
    padding-top: 1rem;
}

.card-border{
    background-image: linear-gradient(to bottom right, var(--color-gradient-1), var(--color-gradient-2));
    border-radius: 5px;
}