.App {
  /* background-color: #1B2631; */
  background-color: white;
  color: var(--primary-font-color);
  text-align: center;
  padding: 0 3rem;
}

.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header h1{
  color: #30e8bd;
  background-image: linear-gradient(to bottom right, var(--color-gradient-1), var(--color-gradient-2));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 3rem 0;
  margin: 0 auto;
}

.sub-header{
  background-image: linear-gradient(to bottom right,var(--color-gradient-1), var(--color-gradient-2));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}

.footer{
  background-image: linear-gradient(to bottom right, var(--color-gradient-1), var(--color-gradient-2));
  color: white;
  padding: 2rem;
  margin: 3rem 0;
}

.footer a{
  color: white;
  font-weight: bold;
}
